[container_registry]
  registry_server = "ghcr.io"
  registry_provider = "Public"
  molecule_container_name = "polar-team/diffusion-molecule-container"
  molecule_container_tag = "latest-amd64"

[vault]
  enabled = false

[yaml_lint]
  extends = "default"
  ignore = [".git/*", "molecule/**", "vars/*", "files/*", ".yamllint", ".ansible-lint"]
  [yaml_lint.rules]
    comments-indentation = false
    [yaml_lint.rules.braces]
      level = "warning"
      max-spaces-inside = 1
    [yaml_lint.rules.brackets]
      level = "warning"
      max-spaces-inside = 1
    [yaml_lint.rules.new-lines]
      type = "platform"
    [yaml_lint.rules.comments]
      min-spaces-from-content = 1
    [yaml_lint.rules.octal-values]
      forbid-implicit-octal = true

[ansible_lint]
  exclude_paths = ["molecule/default/tests/*.yml", "molecule/default/tests/*/*/*.yml", "tests/test.yml"]
  warn_list = ["meta-no-info", "yaml[line-length]"]
  skip_list = ["meta-incorrect", "role-name[path]"]

[tests]
  type = "local"

[cache]
  enabled = true
  cache_id = "ea21e3aae7ea951a"
