---
- name: Test required ports
  include_tasks: test_ports.yml
  loop: "{{ verify_ports }}"
  loop_control:
    label: "Port {{ port.port }} on {{ port.host | default('127.0.0.1') }}"
    loop_var: "port"

- name: Test rootless Docker
  when: verify_docker_rootless
  include_tasks: test_docker_rootless.yml

- name: Test Docker containers
  include_tasks: test_docker.yml

- name: Test shell commands
  include_tasks: test_cmd.yml

- name: Test PostgreSQL
  when: >
    postgres_db != "" or
    postgres_expected_roles | length > 0 or
    postgres_expected_tables | length > 0 or
    postgres_expected_records | length > 0
  include_tasks: test_postgres.yml

- name: Test URI responses
  include_tasks: test_uri.yml
