---
- name: Test required ports
  ansible.builtin.include_tasks: test_ports.yml
  loop: "{{ verify_ports }}"
  loop_control:
    label: "Port {{ tport.port }} on {{ tport.host | default('127.0.0.1') }}"
    loop_var: "tport"

- name: Test rootless Docker
  when: verify_docker_rootless and verify_docker_containers | length > 0
  ansible.builtin.include_tasks: test_docker_rootless.yml

- name: Test Docker containers
  ansible.builtin.include_tasks: test_docker.yml
  loop: "{{ verify_docker_containers }}"
  loop_control:
    label: "{{ container.name }}"
    loop_var: "container"

- name: Test shell commands
  ansible.builtin.include_tasks: test_cmd.yml
  loop: "{{ verify_output_in_cmd }}"
  loop_control:
    label: "Command: {{ command.cmd | truncate(50) }}"
    loop_var: "command"

- name: Test PostgreSQL
  when: >
    postgres_db != "" or
    postgres_expected_roles | length > 0 or
    postgres_expected_tables | length > 0 or
    postgres_expected_records | length > 0
  ansible.builtin.include_tasks: test_postgres.yml

- name: Test URI responses
  ansible.builtin.include_tasks: test_uri.yml
  loop: "{{ verify_uris }}"
  loop_control:
    label: "{{ uri }}"
    loop_var: "uri"
