---
- name: "Verify shell outputs"
  when: verify_shell_outputs | length > 0
  block:
    - name: "Execute {{ item.cmd }}"
      command: "{{ item.cmd }}"
      register: cmd_results
      failed_when: false
      environment: "{{ verify_docker_env }}"
      loop: "{{ verify_shell_outputs }}"

    - name: "Validate exit code"
      when: item.rc is defined
      assert:
        that:
          - cmd_results.results[idx].rc == item.rc
      loop: "{{ verify_shell_outputs }}"
      loop_control:
        index_var: idx

    - name: "Check stdout"
      when: item.stdout is defined
      assert:
        that:
          - item.stdout in cmd_results.results[idx].stdout
      loop: "{{ verify_shell_outputs }}"
      loop_control:
        index_var: idx

    - name: "Check stderr"
      when: item.stderr is defined
      assert:
        that:
          - item.stderr in cmd_results.results[idx].stderr
      loop: "{{ verify_shell_outputs }}"
      loop_control:
        index_var: idx
